body {
  color: $black;
  font: 400 16px $highlited-font;
  overflow-x: hidden;
}
p { font: 300 16px $text-font; }
.tooltip-inner { background: $black; }
.tooltip.left .tooltip-arrow { border-left-color: $black; }
.form-control { height: 80px; }

iframe { width: 100% !important; }

.search-content {
  @include transition($time: .3s, $effect: linear);
  background: $black;
  opacity: .95;
  height: 86.6vh;
  position: absolute;
  left: 0;
  top: 0;

  &.not-visible { left: -41%; }

  .source-link,
  .content-toogle {
    background: $black;
    color: lighten($black, 20%);
    display: block;
    font-size: 30px;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    text-align: center;
    width: 40px;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
    &.text-rotate i {
      display: inline-block;
      margin: 5px 0 0 0;
      transform: rotate(180deg);
    }
  }

  .source-link {
    background: $text;
    font-size: 20px;
    line-height: 40px;
    top: 40px;
    &:hover { background: #7CCCC1; }
  }
}

.wgt-search {
  font: 300 16px $thin-font;
  padding: 30px 0 0 0;
  .wgt-title {
    color: rgba(255,255,255,0.45);
    font: 400 16px $highlited-font;
    padding-left: 13px;
  }

  .main-search {
    .form-control {
      @include input($color: rgba(255,255,255,0), $font-color: #7CCCC1, $border-color: rgba(255,255,255,0.25));
      font: 700 85px $highlited-font;
      width: 100%;
      &::-webkit-input-placeholder { color: #7CCCC1 !important; }
     }
     &.has-error .form-control {
       @include input($font-color: #fff, $border-color: $red);
     }
  }

  .error-msg {
    background: rgba(0,0,0, .5);
    border-radius: 4px;
    margin: 10px 0;
    padding: 5px 15px;
    p { margin: 0; }
  }

  .btn { @include button($bg-color: #fff, $font-color: $black); }
  .search-row { padding-bottom: 30px; }

  .filters-row {
    background: lighten($red, 5%);
    padding: 20px 0 30px 0;
    .form-control { width: 100%; }
  }
}

.img-of-the-day iframe { height: 86.9vh; }

.spinner {
  display: block;
  margin: 60px auto;
  width: 70px;

  .loader {
    position: relative;
    background-color: #F8E71C;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 50%;

    &:after, &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }

    &:after {
      left: -10px;
      top: -5px;
      background-color: #fff;
      transform-origin: 15px 10px;
      animation: axis 1s linear infinite;
    }
    &:before {
      left: -25px;
      top: -15px;
      background-color: #fff;
      transform-origin: 30px 20px;
      animation: axis 2s linear infinite;
    }
  }

  @keyframes axis {
    0% { transform: rotateZ(0deg) translate3d(0,0,0); }
    100% { transform: rotateZ(360deg) translate3d(0,0,0); }
  }
}

.apod-description {
  position: relative;
  padding: 0 10px 10px 10px;
  h2 {
    color: #fff;
    font: 43px $highlited-font;
    margin: 0 0 15px 0;
  }
  p {
    display: block;
    color: rgba(255,255,255,0.85);
    height: 266px;
    overflow: auto;
    font-size: 16px;
  }
}

footer {
  padding: 20px 0;
  small {
    color: $text;
    font-size: 11px;
    margin: 0 0 0 10px;
  }
}
