body {
  color: $black;
  font: 400 16px $highlited-font;
}
p { font: 300 16px $thin-font; }
.tooltip-inner { background: $black; }
.tooltip.left .tooltip-arrow { border-left-color: $black; }
.form-control { height: 46px; }

iframe { width: 100% !important; }

header {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  .logo { margin: 30px 0; }
}

.wgt-search {
  font: 300 16px $thin-font;
  padding: 30px 0 0 0;
  .wgt-title {
    color: #fff;
    font: 400 16px $highlited-font;
    padding-left: 13px;
  }

  .form-control {
    @include input($color: $black, $font-color: $black);
    font-size: 25px;
    width: 88%;
    &::-webkit-input-placeholder { color: $black !important; }
    option { color: $black; }
  }

  .main-search {
    .form-control {
      @include input($color: rgba(255,255,255,0), $font-color: #fff, $border-color: #fff);
      border-bottom: solid 1px #fff;
     }
  }

  .btn { @include button($bg-color: #fff, $font-color: $black); }
  .search-row { padding-bottom: 30px; }

  .filters-row {
    background: lighten($red, 5%);
    padding: 20px 0 30px 0;
    .form-control { width: 100%; }
  }
}

.img-of-the-day iframe { height: 35vw; }

.spinner {
  display: block;
  margin: 60px auto;
  width: 70px;
}

footer { padding: 60px 0; }
