@mixin input ($color: $black, $font-color: $black, $border-color: $black) {
  background: none;
  border: 0;
  border-bottom: solid 1px $border-color;
  border-radius: 0;
  box-shadow: none;
  color: $font-color;
  &:focus {
    box-shadow: none;
  }
}

@mixin button ($bg-color: $red, $font-color: #fff, $font-size: 16px, $padding: 10px 15px, $shadow-color: $grey) {
  background: $bg-color;
  border-radius: 0;
  box-shadow: 3px 3px 3px $shadow-color;
  color: $font-color;
  font-size: $font-size;
  padding: $padding;
  &:hover {
    background: lighten($bg-color, 25%);
    color: darken($font-color, 15%);
    @if $bg-color == #fff {
      box-shadow: none;
    }
  }
}

@mixin transition ($el: all, $time: 1s, $effect: ease-in-out) {
  -webkit-transition: $el $time $effect;
  -moz-transition: $el $time $effect;
  -o-transition: $el $time $effect;
  transition: $el $time $effect;
}

@mixin pattern {
  background-color: $brown;
  background-image: radial-gradient(closest-side, transparent 78%, rgba(0,0,0,.3) 69%),
  radial-gradient(closest-side, transparent 78%, rgba(0,0,0,.3) 69%);
  background-size: 40px 40px;
  background-position:0 0, 20px 20px;
}

@mixin papper-shadow {
  &:before, &:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 23px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  &:after {
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
  }
}
