// Colors
$black: #333;
$grey: #9E9E9E;
$brown: #492411;
$red: #EE311E;

// fonts
$highlited-font: Montserrat, sans, sans-serif;
$thin-font: Roboto, sans, sans-serif;

// img path
$img-path: '../img/';

// no-repeat background
$no-repeat: 0 0 no-repeat;
