<!DOCTYPE html>
<html ng-app="nomad">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <title>Nomad</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="dist/css/styles.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Andada" rel="stylesheet">
  </head>
  <body>
    <main ng-controller="mainController">
      <div class="search-content col-lg-5">
        <a class="content-toogle" title="toggle-content" href="#"><i class="fa fa-angle-left"></i></a>
        <!-- <div class="text-center">
          <img class="logo" src="dist/img/nomad.svg" alt="" width="60" />
        </div> -->
        <div class="wgt wgt-search">
          <p class="wgt-title">Date <small>(american format)</small></p>
          <form class="form-inline" ng-submit="onSubmit()">
            <div class="error-msg" ng-if="error == true">
              <p ng-if="errorCode == 400" class="text-danger">{{error400}}</p>
              <p ng-if="errorCode == 500" class="text-danger">{{error500}}</p>
            </div>
            <div class="search-row" >
              <div class="main-search form-group" ng-class="error ? 'has-error' : true">
                <input class="form-control" id="search" type="text" name="name" ng-model="date" placeholder="Insert a date" value="" autofocus>
                <!-- <button class="btn" type="submit" name="button">Search</button> -->
              </div>
            </div>
          </form>
        </div>
        <div class="apod-description" ng-if="nasaData.isLoading == false">
          <h2>{{apod.title}}</h2>
          <p>{{apod.explanation}}</p>
        </div>
        <spinner is-loading="nasaData.isLoading" message="Loading..." ></spinner>
      </div>
      <div class="content" ng-if="nasaData.isLoading == false">
        <div class="img-of-the-day">
          <div ng-if="apod.media_type != 'video'" back-img="{{apod.url}}"></div>
          <div ng-if="apod.media_type == 'video'" >
            <iframe ng-src="{{apod.url | trustAsResourceUrl}}"></iframe>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="text-center">
          <small>nomad</small>
        </div>
      </div>
    </footer>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-resource/angular-resource.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/directives/directives.js"></script>
    <script src="js/nomad.js"></script>
  </body>
</html>
